<div>
    TEST
</div>
<section id="about">
  <h2>About</h2>
  <div class="section_content">

  </div>
</section>

<section id="portfolio">
  <h2>Portfolio</h2>
  <div class="section_content">

  </div>
</section>

<section id="contact">
  <h2>Contact</h2>
  <div class="sec-wrapper">
  </div>  
</section>





<style>
  

</style>

<script>

    $( "section" ).mouseenter(function(){
      $( this ).removeClass("unfocus").addClass("focus");
      $( this ).siblings("section").removeClass("focus").addClass("unfocus");
    }); 

</script>