// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body,html{
    display:table;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
  }

  section{
    width:100%;
    height:33%;
    outline:solid;
    background-size: auto 100%;
    margin:0;
    position: relative;
    
  }
  
  .section_content{
    
  }
  
  h2{
    position:absolute;
    top:5;
    left:5;
    margin:0 !important;
    }
  
  .unfocus > h2{
    background-color:red;
    
  }
  
  #about{
    background: #fff url("<%= image_url("aboutme-bg.jpg")%>") no-repeat  right top;
    background-size:  100% auto;
  }
  
  #contact{
    background: #fff url("<%= image_url("yair_segal.jpg")%>") no-repeat left top;
    background-size:  100% auto; 
  }
  
  #portfolio{
    background: #fff url("<%= image_url("ror.jpg")%>") no-repeat right top;
    background-size:  cover;
  }
  
  
  
  .focus{
    height:80% !important;
    transition: height 1s;
  }
  
  .unfocus{
    height:10%;
     transition: height 1s;
  }
  
  .unfocus .sec-wrapper{
    display:none;
  }
  
  .focus  h2{
    position:relative;
    background-color:green;
    float:left;
  }
@media screen and (min-width: 800px) {
    body {
        background-color: lightblue;
    }
    
    #wrapper {
      display: table;
      height: 100%;
      width: 900px;
      margin: 0 auto;
    }
    
}

@media screen and (max-width: 800px) {
    body {
        background-color: green;
    }
    
    #wrapper {
      display: table;
      height: 100%;
      width: 100%;
    }
    
}